<ion-header>
<ion-toolbar>
<ion-title>Time Registration</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
<form (submit)="submitWeek()">
<ion-item>
<ion-label>Start Date</ion-label>
<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="startDate" name="startDate"></ion-datetime>
</ion-item>
<ion-item *ngFor="let day of days">
<ion-label>{{ day }}</ion-label>
<ion-input type="number" [(ngModel)]="timeEntries[day]" name="time-{{ day }}" placeholder="Hours"></ion-input>
</ion-item>
<ion-button expand="full" type="submit" [disabled]="weekLocked">Submit Time</ion-button>
</form>
<ion-button expand="full" color="danger" (click)="clearEntries()">Clear All Entries</ion-button>
</ion-content>